.top-header{
  height: 99vh;
  background-color: rgb(7, 12, 32);
  /* border: 1px black solid; */
}

.top-align {
  height: 10%;
  /* border-bottom: 1px white solid ; */
  display: flex;
  column-gap: 5%;
}

.logo{
  height: 100%;
  width: 30%;
  /* border: 1px purple solid; */
  display: flex;
 align-items: center;
}

.top-items{
  height: 100%;
  width: 50%;
  /* border: 1px gold solid; */
  font-size: 0.9rem;
  display: flex;
  text-align: center;
  column-gap: 12%;
  justify-content: center;
  
}

.box-item {
  height: 88vh;
  /* border: 1px blue solid; */
  display: flex;
  justify-content: center;
  column-gap: 10vh;
}

.content-box {
  height: 100%;
  width: 50%;
  color: white;
  /* border: 1px green solid; */
}

.pic-box {
  height: 100%;
  width: 30%;
  /* border: 1px brown solid; */
}

.social-box{
  height: 15vh;
  border: 1px aqua solid;
  margin-top: 10px;
}